node_modules
.next
out
build
.git
.gitignore
.env
.env.local
.env*.local
.hiailab
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
.dockerignore
docker-compose.yml
README.md
docs
QUICKSTART.md
.vscode
.idea
.DS_Store
